<div class="container">
  <h2>Companies</h2>
  <div class="container">
    <h3>Add company</h3>
    <div class="form-row">
      <div class="col">
        <label for="company-name">Company name:
        </label>
      </div>
      <div class="col">
        <input class="form-control" id="company-name" #companyName/>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="add(companyName.value); companyName.value=''">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <h3>Companies list</h3>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies" (click)="openCompany(company.id)" style="cursor: hand;cursor: pointer;">
        <td>{{company.name}}</td>
        <td>
          <button class="btn btn-primary" (click)="delete(company)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
