<div class="container">
  <h3>Invoices list:</h3>
  <table *ngIf="areInvoices()" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Number of positions</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoices; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ invoice.number }}</td>
      <td>
        <app-date-formatter [date]="invoice.date"></app-date-formatter>
      </td>
      <td>{{ invoice.positions.length || number}} </td>
      <td>-</td>
    </tr>
    </tbody>
  </table>
  <div class="alert alert-secondary" role="alert" *ngIf="!areInvoices()">
    <strong>Warning!</strong> There are no invoices yet.
  </div>
</div>
