<div class="container">
  <h3>Invoices list:</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number</th>
      <th scope="col">Date</th>
      <th scope="col">Number of positions</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invoice of invoices; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ invoice.number }}</td>
      <td>{{ invoice.date.day }}-{{ invoice.date.month }}-{{ invoice.date.year }}</td>
      <td>{{ invoice.positions.length || number}} </td>
      <td>-</td>
    </tr>
    </tbody>
  </table>
</div>
