<div class="container">
  <h3>Vehicles list</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plate</th>
      <th scope="col">Fuel</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Registration date</th>
      <th scope="col">Overall allowed weight</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let vehicle of vehicles; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ vehicle.plate }}</td>
      <td><span *ngFor="let fuel of vehicle.allowed_fuel_types" class="badge badge-secondary">{{fuel}}</span></td>
      <td>{{ vehicle.name }}</td>
      <td>{{ vehicle.type }}</td>
      <td><app-date-formatter [date]="vehicle.registration_date"></app-date-formatter></td>
      <td>{{ vehicle.allowed_overall_weight }}</td>
    </tr>
    </tbody>
  </table>
</div>
