<div *ngIf="company" class="container">
  <div class="container" *ngIf="editable">
    <h2>Company edition - {{company.name}}
      <button type="button" class="btn btn-light" (click)="cancelEdition()">Cancel edition</button>
    </h2>
    <div class="container">
      <div class="form-row">
        <div class="col">
          <input class="form-control" [(ngModel)]="company.name" placeholder="name" id="company-name"/>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary float-left" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!editable">
    <h2>Company details - {{company.name}}
      <button type="button" class="btn btn-light" (click)="startEdition()">Edit</button>
    </h2>
  </div>
  <app-vehicle [vehicles]="vehicles"></app-vehicle>
  <div class="container">
    <a href="/vehicle/add?companyId={{company.id}}">
      <button type="button" class="btn btn-secondary">Add vehicle</button>
    </a>
  </div>
  <app-invoices [invoices]="invoices"></app-invoices>
  <div class="container">
    <a href="/invoice/add?companyId={{company.id}}">
      <button type="button" class="btn btn-secondary">Add invoice</button>
    </a>
  </div>
</div>
