<div *ngIf="company" class="container">
  <div *ngIf="editable">
    <h2>Company edition - {{company.name}}</h2>
    <div><span>id: </span>{{company.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="company.name" placeholder="name"/>
      </label>
    </div>
    <button type="button" class="btn btn-success" (click)="save()">save</button>
    <button type="button" class="btn btn-danger" (click)="cancelEdition()">cancel</button>
  </div>
  <div *ngIf="!editable">
    <h2>Company details - {{company.name}}</h2>
    <button type="button" class="btn btn-light" (click)="startEdition()">Edit</button>
  </div>
  <app-vehicle [vehicles]="vehicles"></app-vehicle>
  <div class="container">
    <a href="/vehicle/add?companyId={{company.id}}">
      <button type="button" class="btn btn-outline-primary">Add vehicle</button>
    </a>
  </div>
  <app-invoices [invoices]="invoices"></app-invoices>
  <div class="container">
    <a href="/invoice/add?companyId={{company.id}}">
      <button type="button" class="btn btn-outline-primary">Add invoice</button>
    </a>
  </div>
</div>
